.profile{
    width: 100%;
    height: 100%;
    background-color: #141111;
    padding: 50px 0;
    color: #fff;
    /* font-family: sans-serif; */
}
.profile-container{
    width: 90%;
    margin: auto;
    /* height: 400px; */
    background: #000;
    border: 1px solid rgba(255,255,255,.5);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    /* z-index: -1; */
}
.profile-head{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    /* border: 1px solid #fff; */
}
.profile-avatar{
    transform: translateY(-70px);
    position: relative;
    width: 90px;
    height: 90px;
    background-color: #92ffe5;
    border-radius: 50%;
}
.profile-avatar img{
    width: 100%;
}
.profile-level{
    position: absolute;
    left: 20px;
    bottom: -32px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fbbb43;
    border-radius: 50%;
    background-color: #000;
    font-size: 20px;
    font-weight: 600;
}
.profile-user-name{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.profile-user-left-points{
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5;
}
.line{
    width: 80%;
    height: 1px;
    background-color: rgba(255,255,255,.3);
    margin: 0 auto;
    margin-top: 30px;
}
.sparta-num, .profile-rating{
    color: #fbbb43;;
    font-weight: 500;
    font-size: 16px;
    font-weight: 600;
}
.profile-advantages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    margin-top: 20px;
    margin-bottom: 10px;

}
.profile-statistics-1, .profile-statistics-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid #fff; */
}
.profile-statistics-parts{
    /* border: 1px solid blue; */
    margin-right: 80px;
}
.last-statistic{
    margin-right: 0px;
}
.profile-advantages-title{
    text-align: center;
    font-size: 32px;
    line-height: 1.5;
    font-weight: 900;
}
.profile-advantages-text{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1.5px;
}












@media(max-width: 1150px){
    .container{
        padding-right: 48px;
        padding-left: 48px;
    }
    .profile-container{
        width: 100%;
    }
    .profile-user-name{
        font-size: 24px;
    }
    .profile-user-left-points{
        font-size: 16px;
    }
    .profile-rating, .sparta-num{
        font-size: 16px;
    }
    
    

}



@media(max-width: 767px){
    .container{
        padding-right: 25px;
        padding-left: 25px;
    }
    .profile-head{
        padding: 0 10px;
        align-items: flex-end;
        flex-wrap: wrap;
        /* border: 1px solid #fff; */
    }
    .profile-advantages{
        flex-direction: column;
    }
    .profile-statistics-parts{
        margin: 0;
    }
    .profile-statistics-1, .profile-statistics-2{
        justify-content: space-around;
        width: 100%;
        margin-bottom: 10px;
        
    }
    .line{
        width: 100%;
    }
    
}



@media(max-width: 576px){
    .profile-avatar{
        width: 80px;
        height: 80px;
        transform: translateY(0px);
    }
    .profile-level{
        width: 40px;
        height: 40px;
        left: 20px;
        bottom: -25px;
        font-size: 16px;
    }
    .profile-user-name{
        margin-top: 30px;
    }
}